#grid-area .col {
  /* set  style of border */
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 640px;
  height: 290px;
  /* box shadow raius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* set style of border */
  border-radius: 10px;
  /* set style of background */
  background-color: #fff;
  /* set style of font */
  font-family: "Roboto", sans-serif;
  /* set style of font size */
  font-size: 14px;
  /* set style of font weight */
  font-weight: bold;
  /* set style of text align */
  text-align: center;
  /* set style of text color */
  color: #000;
}
#favourate-transport div {
  position: relative;
  top: 50%;
}
#favourate-transport img {
  width: 75px;
  height: 75px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#line1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: block;
}
#line1 span {
  opacity: 0;
  transition: all 0, 4s ease;
}
#line1 span.fade {
  opacity: 1;
}
#line2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 10px;
}
#line2 span {
  opacity: 0;
  transition: all 0, 4s ease;
}
#line2 span.fade {
  opacity: 1;
}
#co2-chart {
  height: 288px;
  width: 564px;
}
.line1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: block;
}
.icon {
  display: inline-block;
}
.counters {
  margin-left: 10px;
  font-size: 30px;
  display: inline-block;
}
.name {
  display: inline-block;
}
.instruction p {
  margin-top: 24px;
  margin-bottom: 0px;
}
#grid-area .col #report-faq1 {
  /* put it to top left corner */
  position: absolute;
  top: 0;
  left: 0;
  /* set width and height */
  height: 35px;
  width: 35px;
  position: absolute;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(99, 149, 235);
}
#grid-area .col #report-faq1:hover {
  background: #76c893;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#grid-area .col #report-faq1:hover i {
  color: #fff;
}
#report-faq2 {
  /* put it to top right corner */
  position: absolute;
  top: 0;
  right: 0;
  /* set width and height */
  height: 35px;
  width: 35px;
  position: absolute;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(99, 149, 235);
}
#report-faq2:hover {
  background: #76c893;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#report-faq2:hover i {
  color: #fff;
}
#report-faq3 {
  /* put it to bottom right corner */
  position: absolute;
  top: 0%;
  left: 0%;
  /* set width and height */
  height: 35px;
  width: 35px;
  position: absolute;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(99, 149, 235);
}
#report-faq3:hover {
  background: #76c893;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#report-faq3:hover i {
  color: #fff;
}
#report-faq4 {
  /* put it to bottom left corner */
  position: absolute;
  top: 0;
  right: 0;
  /* set width and height */
  height: 35px;
  width: 35px;
  position: absolute;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: rgb(99, 149, 235);
}
#report-faq4:hover {
  background: #76c893;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#report-faq4:hover i {
  color: #fff;
}
.tippy-box[data-theme~="tomato"] {
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: white;
}
#go-back-home {
  left: 220px;
  height: 38px;
  width: 300px;
  position: relative;
  top: -38px;
}
span i {
  font-size: 20px;
  position: relative;
  top: 7px;
}
